<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1" maxRequestLength="104857656"/>
	  <customErrors mode="Off"></customErrors>
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="80000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
   <connectionStrings>
    <!--<add name="ConnectionString" connectionString="SERVER=127.0.0.1;port=3306; DATABASE=materialmanagement; UID=root; PASSWORD=Chetan@123;respect binary flags=false;Convert Zero Datetime=True;Allow User Variables=True"/>-->
    <!--<add name="ConnectionString" connectionString="SERVER=202.66.172.185; DATABASE=materialmanagement; UID=AYASTO; PASSWORD=AyastoMySQL@18;default command timeout=40;Convert Zero Datetime=True;Allow User Variables=True" />-->
	  <add name="ConnectionString" connectionString="SERVER=202.66.172.185; DATABASE=ovot_incentive; UID=AYASTO; PASSWORD=My#SQL@2021;default command timeout=40;Convert Zero Datetime=True;Allow User Variables=True"/>
  </connectionStrings>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <appSettings>
    <add key="Domain" value="http://ovotbackoffice.poshsmetal.com/customerinvoice/" />
  <add key="PAN" value="http://ovotdev.poshsmetal.com/ISDDocs/ISDPAN/" />
<add key="ADHAAR" value="http://ovotdev.poshsmetal.com/ISDDocs/ISDADHAAR/" />
<add key="BANK" value="http://ovotdev.poshsmetal.com/ISDDocs/ISDBANK/" />
    <add key="aspnet:MaxHttpCollectionKeys" value="3000"/>
    <add key="aspnet:MaxJsonDeserializerMembers" value="2147483644" />
	  <add key="Host" value="smtp.gmail.com" />
	  <!--<add key="Host" value="smtp.office365.com" />-->
	  <add key="EnableSsl" value="true" />
	  <add key="UserName" value="info@ayasto.com" />
	  <add key="Password" value="SH@Nkar@#$1617" />

	  <!--<add key="UserName" value="info@amstradworld.com" />
    <add key="Password" value="!nf0@2021" />-->
	  <add key="MailTo" value="archana.pawar@ayasto.com" />
	  <add key="Port" value="587" />
  </appSettings>
  <system.webServer>
    <security>
      <requestFiltering>
        <!-- Measured in Bytes -->
        <requestLimits maxAllowedContentLength="1073741824" />
        <!-- 1 GB-->
      </requestFiltering>
    </security>
  <httpErrors errorMode="Custom">
         <remove statusCode="404"/>
         <error statusCode="404" path="/PageNotFound.aspx" responseMode="ExecuteURL"/>
      </httpErrors>
 
  </system.webServer>
 
</configuration>
